*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html, * {
    font-size: 16px;
    font-family: monospace;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: monospace;
	font-size: 100px;

	background: linear-gradient(45deg, blue, red);
}

/* Login ********************************************************/
#login {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	width: 300px;
	height: 300px;

	margin: 30px;
	padding: 20px;
	padding-top: 40px;
	border-radius: 10px;

	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
}

#login input {
	padding: 10px;
	font-size: 20px;
	width: 100%;
	border-radius: 5px;
}

#login input:focus ~ label,
#login input:valid ~ label {
	content: 'ok';
	transform: translateY(-35px) translateX(-10px);
	font-size: 17px;
	color: white;
}

#login > div {
	position: relative;
}

#login label {
	position: absolute;
	top: 12px;
	left: 10px;
	font-size: 20px;
	transition: .3s;
	color: black;
}

#login .password {
	margin: 30px 0 50px 0;
}

#login button {
	width: calc(100% - 10px);
	padding: 10px;
	border-radius: 5px;

	background-color: black;
	color: white;
}

#login button:hover {
	opacity: .8;
}

#login span {
	position: absolute;
	bottom: -23px;
	right: 0;
	cursor: pointer;
	padding: 2px;
	text-decoration: underline;
	color: white;
}

#login span:hover {
	opacity: .8;
}